.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#fff;
    border-color: #080808;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    transition: 0.3s;

    text-transform: uppercase;
    padding-left: 10px;
    font: 15px ProximaNovaA-semibold;
    display: block;
    background: #fff;
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid #b6b6b6;
  }
  
  .sidenav a:hover {
    color: #080808;
    background-color: #fab005;
    text-decoration: none;

  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }